$secondaryGrey1: #7e7e7f;
$secondaryGrey2: #bdbdbe;
$secondaryGrey3: #dddddd;
$secondaryGrey4: #f1f1f1;
$secondaryWhite: #fcfcfc;

$primaryBlue: #23449b;

$utilityFailure: #e24d43;
$utilitySuccess: #5a863d;
