.flash {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 9999999;
}

.flash-error,
.flash-success {
  padding: 12px;

  svg {
    margin: 10px 10px;
    vertical-align: middle;
  }
}

.flash-error {
  color: white;
  background-color: $utilityFailure;
}

.flash-success {
  color: white;
  background-color: $utilitySuccess;
}
