.form-container {
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.form-label {
  font-weight: 600;
  padding-bottom: 8px;
}

.form-control {
  padding: 16px;
  font-size: 18px;
}
