@import "./variables/variables.scss";

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.form-label {
  font-weight: 600;
  margin-bottom: 8px;
}

.form-control {
  padding: 16px;
  font-size: 18px;
  border-radius: 5px;
  border: none;

  &.full-w {
    width: 100%;
  }
}

.form-title {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: $primaryBlue;
}

.form-subtitle {
  text-align: center;
}

.form-img {
  border-radius: 5px;
  width: 10rem;
  height: 10rem;
  padding: 0.5rem;
}
.picture-container {
  display: flex;
}
.house-description {
  height: 3rem;
  width: 5rem;
}

.radio-buttons {
  display: flex;
  flex-direction: column;

  &.has-margin {
    div {
      margin: 12px 0;
    }
  }
}

.people-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.garden-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.checkbox-buttons {
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: inline-block;
  padding: 0.5rem;
}

.form-radio {
  opacity: 0;
  position: absolute;
  width: 0;

  &:checked + label {
    color: $primaryBlue;
  }

  & + label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
    background: $secondaryWhite;
    padding: 16px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    svg,
    img {
      color: $primaryBlue;
      margin-right: 24px;
    }
  }
}

input[type="number"] {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.checkbox {
  display: flex;
  align-items: center;
}

.form-checkbox {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.checkbox-outer {
  display: flex;
  justify-content: center;
}
